.wrapper{
    width:100%;
    height: 100%;
    overflow: hidden;
    padding:0px 0px;
    .header{
        display: flex;
        height: 64px;
        flex-direction: row;
        .header-left{
            height: 100%;
            width: 106px;
            background: yellow;
        }
        .header-center{
            flex: 1;
            height: 100%;
            background: pink;
        }
        .header-right{
            width: 106px;
            height: 100%;
            background: red;
        }
    }                           

}